<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Generador de Código QR </title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Generador de Código QR</h1>
        <input type="text" id="inputText" placeholder="Ingresa el texto" />
        <button id="generate">Generar QR</button>
        <div id="qrCode"></div>
    </div>

    <script src="/static/js/script.js"></script>
</body>
</html>